@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

body {
  padding: 0;
  margin: 0;
  background-color: #1abc9c;
}

h1 {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 60px;
  text-align: center;
}

.clockBody {
  width: 400px;
  height: 400px;
  border: white solid 15px;
  margin: auto;
  border-radius: 50%;
  position: relative;
}

.hand {
  width: 47%;
  height: 7px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform-origin: 100%;
  transition: ease-in-out 0.5s;
  transform: rotate(90deg);
}

.dot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 48%;
  right: 48%;
  background-color: black;
  border-radius: 50%;
}

#secHand {
  background-color: black;
}

#hourHand {
  width: 40%;
}

.noTransition {
  transition: none !important;
}